tenant_id         = "<tenant id>"
subscription_id   = "<subscription_id>"
client_id         = "<client_id>"
client_secret     = "<client_secret>"
wiz_client_id     = "<wiz_client_id>"
wiz_client_secret = "<wiz_client_secret>"